### Series and Dataframe

In [1]:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

#### 2.2 Skalenniveau und Datentypen (15 Min)
#### Welches Skalenniveau besitzen die Variablen im obigen Beispiel? nominal month, below zero metrisch temp
#### Sind die Variablen stetig oder diskret? temp stetig month, below zero diskret
#### Was ist der Datentyp jeder einzelnen Spalte?
#### Erweitere das Python-Dictionary und
#### erstelle eine neue Zeile mit den Werten ('Apr', 5, False)
#### erstelle eine neue Spalte year mit den Werten (2020, 2020, 2020, 2020)

In [2]:
import pandas as pd
data = {'month': ['Jan', 'Feb', 'Mar' , 'April'],
        'temp': [-5, 2, 3, 5],
         'below_zero': [True, False, False, False],
       'year' : [2020, 2020, 2020, 2020]}
df = pd.DataFrame(data)
print(df)
print(df.dtypes)

   month  temp  below_zero  year
0    Jan    -5        True  2020
1    Feb     2       False  2020
2    Mar     3       False  2020
3  April     5       False  2020
month         object
temp           int64
below_zero      bool
year           int64
dtype: object

### Ein- und Ausgabe

In [3]:
import pandas as pd
df = pd.read_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage.csv", na_values="None")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0

### 2.3 Exkurs: Datenrundreise (30 Min)
#### Informiere Dich hier Ã¼ber die verschiedenen Funktionen zur Ein- und Ausgabe.
#### Lies den Datensatz "../data/Library_Usage_Small.csv" ein (Download hier). Er enthÃ¤lt nur die ersten 10 Zeilen des originalen Datensatzes (aus PerformancegrÃ¼nden).
#### Speichere den DataFrame als .json ab.
#### Lies die .json ein und speichere den DataFrame als .html Tabelle ab (Die .html Datei lÃ¤sst sich auch mit einem Browser Ã¶ffnen).
#### Lies dann die .html Datei ein (Achtung: read_html gibt eine Liste von DataFrames zurÃ¼ck!) und speichere den DataFrame als .xlsx Datei ab (Die .xlsx Datei lÃ¤sst sich auch mit Excel Ã¶ffnen).
#### Lies nun die .xlsx Datei ein und speichere den DataFrame wieder als .csv ab. Achte darauf, den ursprÃ¼nglichen originalen Datensatz nicht zu Ã¼berschreiben.
#### Vergleiche Sie die originale .csv Version mit der Version, nach der Datenrundreise. Ist alles gleich geblieben?

In [4]:
import pandas as pd
df = pd.read_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.csv")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [5]:
df.to_json("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.json")
df = pd.read_json("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.json")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [6]:
df.to_html("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.html", index=False)
df = pd.read_html("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.html")
df = df[0]
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [7]:
df.to_excel("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.xlsx", index=False)
df = pd.read_excel("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small.xlsx")
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [8]:
df.to_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small_Copie.csv")
df = pd.read_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Small_Copie.csv")
df

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15,15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

###  2.4 Exkurs: Arbeitsspeicher (30 Min)
##### Finde heraus, wie viel freier Arbeitsspeicher Dein Computer hat (Das Betriebssystem und Hintergrundprogramme verbrauchen auch RAM).   
##### ! free -b (Bytes) 6353539072 -Gesamtspeicher
##### Wie viele int64 Werte, also Zahlen, die 8 Byte (=64 Bit) Speicher benÃ¶tigen, kannst Du damit theoretisch in den Arbeitsspeicher laden? Tip: Nutze Google zum Umrechnen. - 194990080 freie Bytes - 24373760 int Werte
##### Wie viele Beobachtungen kann eine Tabelle mit 100 numerischen Variablen damit maximal theoretisch haben, damit Du diese noch bearbeiten kannst? - 6,25Mio
##### Nutze die Funktion df.memory_usage() um Dir den tatsÃ¤chlich benÃ¶tigten Speicher eines DataFrames oder einer Series anzeigen zu lassen. Mit dem Funktionsargument deep=True wird der Wert genau ermittelt und nicht nur geschÃ¤tzt. - ca. 220 MB

In [9]:
! free -b

               gesamt       benutzt     frei      gemns.  Puffer/Cache verfÃ¼gbar
Speicher: 6353539072  3905642496  1307979776   131694592  1139916800  2079551488
Auslager: 1469661184  1383432192    86228992

In [10]:
import pandas as pd
df = pd.read_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage.csv", na_values="None")
df.memory_usage(deep=True)

Index                                128
Patron Type Code                 3387584
Patron Type Definition          26722568
Total Checkouts                  3387584
Total Renewals                   3387584
Age Range                       30022389
Home Library Code               24860249
Home Library Definition         28744750
Circulation Active Month        24387502
Circulation Active Year          3387584
Notice Preference Code          24559984
Notice Preference Definition    26253773
Provided Email Address            423448
Year Patron Registered           3387584
Outside of County                 423448
Supervisor District              3387584
dtype: int64

### Auswahl und Erstellung von Spalten

In [11]:
df.columns # Anzeigen des Spaltenindexes

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [12]:
# Erstellen eines neuen Datenframes, mit Total Renewals, Total Checkouts und der entsprechenden Spaltenbezeichnung
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]

In [13]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

### 2.5 Fallstudie: Feature Engineering

In [14]:
df['Circulation Active Year']=pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [15]:
df['Circulation Active Month']=pd.to_datetime(df['Circulation Active Month'], errors='coerce', format="%B")
df['Circulation Active Month']

0               NaT
1        1900-04-01
2               NaT
3               NaT
4        1900-01-01
            ...
423443   1900-03-01
423444   1900-07-01
423445   1900-07-01
423446   1900-04-01
423447          NaT
Name: Circulation Active Month, Length: 423448, dtype: datetime64[ns]

In [16]:
df['Circulation Active Month']=df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0         NaN
1         4.0
2         NaN
3         NaN
4         1.0
         ...
423443    3.0
423444    7.0
423445    7.0
423446    4.0
423447    NaN
Name: Circulation Active Month, Length: 423448, dtype: float64

In [17]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [18]:
df['Membership Duration']= df['Membership Duration'].fillna(0)
df['Membership Duration']

0           0.0
1          76.0
2           0.0
3           0.0
4         157.0
          ...
423443     75.0
423444      7.0
423445     31.0
423446    148.0
423447      0.0
Name: Membership Duration, Length: 423448, dtype: float64

### Auswahl von Zeilen

In [19]:
import pandas as pd
df = pd.read_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage.csv", na_values="None")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016.0,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016.0,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016.0,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016.0,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016.0,z,email,True,2003,False,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016.0,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016.0,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016.0,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015.0,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016.0,z,email,True,2004,True,NaN

#### 2.6 Filtern (30 Min)

##### Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele EintrÃ¤ge erhÃ¤ltst Du?
##### Gibt es Personen mit mehr als 20000 Ausleihen?
##### Wie viele Personen stammen aus dem Norden San Franciscos (Supervisor Districts) 1, 2 und 3)? Nutze die Funktion Series.isin().
##### Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten?

In [20]:
(df['Age Range'] == '0 to 9 years').sum()

38242

In [21]:
(df['Total Checkouts'] >=2000).sum()

4813

In [22]:
df['Supervisor District'].isin([1, 2, 3]).sum()

70091

In [23]:
### erneute Berechnung von 'Membership Duration' ###
df['Circulation Active Year'] = pd.to_numeric(
    df['Circulation Active Year'], errors='coerce'
)

df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

df['Membership Duration'] = (
   df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']
df['Membership Duration'] = df['Membership Duration'].fillna(0)

In [24]:
(df['Membership Duration'] == 0).mean()

0.16035971358938997

### 2.8 Exkurs: Fehlende Werte (20 Min)

#### Welche Spalten enthalten alles fehlende Werte?
#### Lies den Datensatz ein und erstelle einen DataFrame der keine Beobachtungen mit fehlenden Werten mehr enthÃ¤lt.
#### Speichere diesen unter dem Namen Library_Usage_Clean.csv ab.
#### Wie viele Beobachtungen wurden dabei entfernt?

In [25]:
import pandas as pd
df = pd.read_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage.csv", na_values="None")

In [26]:
len(df) - df.count()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [27]:
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [28]:
# drops all rows that contain at least one missing values
df_clean = df.dropna()
df_clean.isna().sum()

Patron Type Code                0
Patron Type Definition          0
Total Checkouts                 0
Total Renewals                  0
Age Range                       0
Home Library Code               0
Home Library Definition         0
Circulation Active Month        0
Circulation Active Year         0
Notice Preference Code          0
Notice Preference Definition    0
Provided Email Address          0
Year Patron Registered          0
Outside of County               0
Supervisor District             0
dtype: int64

In [29]:
len(df) - len(df_clean)

148321

In [30]:
df_clean.to_csv("/home/katrin/2021-11-29-DL_Katrin_Gaertner/Modul_3/data/Library_Usage_Clean.csv")

#### 2.9 Pandas Funktionen (5 Min)

##### Schau Dir die Dokumentation fÃ¼r die Funktion head() hier an. Wie kannst Du Dir die ersten 100 Zeilen anzeigen lassen?

In [31]:
df.head(n=100)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,ADULT,0,0,35 to 44 years,X,Main Library,NaN,NaN,z,email,True,2012,False,1.0
96,0,ADULT,11,0,20 to 24 years,X,Main Library,September,2015.0,z,email,True,2015,False,NaN
97,0,ADULT,160,44,25 to 34 years,R3,Richmond,May,2015.0,z,email,True,2003,False,1.0
98,0,ADULT,11,3,35 to 44 years,M2,Marina,March,2014.0,z,email,True,2003,False,NaN
99,0,ADULT,40,0,45 to 54 years,O7,Ortega,April,2015.0,p,phone,True,2003,False,4.0

In [32]:
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,423448.000000,423448,423448.000000,423448.000000,423233,423408,423448,355544,355544.000000,423448,423448,423448,423448.000000,423448,313138.00000
unique,NaN,18,NaN,NaN,10,79,35,12,NaN,4,4,2,NaN,2,NaN
top,NaN,ADULT,NaN,NaN,25 to 34 years,X,Main Library,July,NaN,z,email,True,NaN,False,NaN
freq,NaN,272251,NaN,NaN,91083,124814,124814,91566,NaN,323937,323937,336420,NaN,359628,NaN
mean,1.036765,NaN,161.982097,59.657327,NaN,NaN,NaN,NaN,2014.724943,NaN,NaN,NaN,2010.348917,NaN,6.28824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,2003.000000,NaN,NaN,NaN,2003.000000,NaN,1.00000
25%,0.000000,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,2014.000000,NaN,NaN,NaN,2007.000000,NaN,4.00000
50%,0.000000,NaN,19.000000,2.000000,NaN,NaN,NaN,NaN,2015.000000,NaN,NaN,NaN,2012.000000,NaN,6.00000
75%,1.000000,NaN,113.000000,27.000000,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,2014.000000,NaN,9.00000
max,104.000000,NaN,35907.000000,8965.000000,NaN,NaN,NaN,NaN,2016.000000,NaN,NaN,NaN,2016.000000,NaN,11.00000

In [33]:
print(df.min())
print(df['Total Renewals'].min())

Patron Type Code                     0
Patron Type Definition           ADULT
Total Checkouts                      0
Total Renewals                       0
Home Library Definition           Anza
Circulation Active Year         2003.0
Notice Preference Code               -
Notice Preference Definition     email
Provided Email Address           False
Year Patron Registered            2003
Outside of County                False
Supervisor District                1.0
dtype: object
0

/tmp/ipykernel_23426/2524581452.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df.min())

In [34]:
df['Total Renewals'].sum()
df['Total Renewals'].between(100, 200).sum()

21739

In [35]:
df.columns
df.dtypes
df.shape

(423448, 15)

### HÃ¤ufigkeiten

In [36]:
df['Age Range'].value_counts() # absolute HÃ¤ufigkeit

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

In [37]:
df['Age Range'].value_counts(normalize=True) # relative HÃ¤ufigkeit

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [38]:
df.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Year,Year Patron Registered,Supervisor District
count,423448.000000,423448.000000,423448.000000,355544.000000,423448.000000,313138.000000
mean,1.036765,161.982097,59.657327,2014.724943,2010.348917,6.288240
std,4.188198,453.703678,225.009917,1.567938,4.357374,3.123634
min,0.000000,0.000000,0.000000,2003.000000,2003.000000,1.000000
25%,0.000000,2.000000,0.000000,2014.000000,2007.000000,4.000000
50%,0.000000,19.000000,2.000000,2015.000000,2012.000000,6.000000
75%,1.000000,113.000000,27.000000,2016.000000,2014.000000,9.000000
max,104.000000,35907.000000,8965.000000,2016.000000,2016.000000,11.000000

In [39]:
age_mode = df['Age Range'].mode()
age_mode[0]

'25 to 34 years'

### 3.1 HÃ¤ufigkeiten (20 Min)

#### Erstelle eine HÃ¤ufigkeitsverteilung fÃ¼r die Variable 'Year Patron Registered'. Wieviel Prozent der Kunden wurden 2013 im System registriert? Wie viele in den kommenden Jahren? Was fÃ¤llt Dir auf?
##### 11 % wurden 2013 registriert, die Jahre danach waren es mehr

#### Wieviel Prozent der Kunden sind zwischen 25 und 34 Jahren?
#####  21,5%

#### Ersetze die fehlenden Werte in der Spalte Age Range durch den Modus dieser Spalte. Nutze dazu die Funktion DataFrame.fillna 

#### Denkst Du, es handelt sich dabei um eine gute Methode, fehlende Werte zu ersetzen? Welche anderen Strategien fallen Dir ein?

In [40]:
df['Year Patron Registered'].value_counts(normalize=True)

2003    0.163555
2015    0.127409
2014    0.122570
2013    0.113948
2012    0.088311
2011    0.062655
2016    0.062081
2010    0.057436
2009    0.052679
2008    0.048455
2007    0.031383
2006    0.025448
2005    0.022832
2004    0.021240
Name: Year Patron Registered, dtype: float64

In [41]:
df['Age Range'].value_counts(normalize=True) # relative HÃ¤ufigkeit

25 to 34 years       0.215208
35 to 44 years       0.159227
10 to 19 years       0.139271
45 to 54 years       0.124026
0 to 9 years         0.090357
65 to 74 years       0.071216
20 to 24 years       0.070318
55 to 59 years       0.050161
60 to 64 years       0.046783
75 years and over    0.033433
Name: Age Range, dtype: float64

In [42]:
df['Age Range'].isna().sum()

215

In [43]:
age_range_mode = df['Age Range'].mode()[0]
df['Age Range'].fillna(age_range_mode, inplace=True)

In [44]:
df['Age Range'].isna().sum()

0

In [45]:
df['Age Range'].value_counts(normalize=True)

25 to 34 years       0.215606
35 to 44 years       0.159146
10 to 19 years       0.139200
45 to 54 years       0.123963
0 to 9 years         0.090311
65 to 74 years       0.071180
20 to 24 years       0.070283
55 to 59 years       0.050136
60 to 64 years       0.046759
75 years and over    0.033416
Name: Age Range, dtype: float64

### LagemaÃe

### 3.2 Mittelwert und Median (20 Min)

####    Schau Dir den Mittelwert und den Median der Variable Total Checkouts an. Warum sind die beiden Werte so unterschiedlich?
####    Was ziehst Du daraus fÃ¼r SchlÃ¼sse fÃ¼r weitere statistische Analysen und Reports?

In [46]:
df['Total Checkouts'].mean() # Mittelwert = Durchschnitt ist in der Statistik das arithmetische Mittel. 
#Errechnet hat ihn schon jeder: Man addiert die Werte, deren Mittelwert gesucht wird 
#und teilt sie durch ihre Anzahl.

161.98209697530748

In [47]:
df['Total Checkouts'].median() # Median= Median ist der Wert, der in der Mitte liegt. 
#Die Zahlen werden sortiert und genau die Zahl wird gewÃ¤hlt, die in der Mitte liegt. 
# Der Median findet sich also ohne Rechnerei. 
# Das ist nicht der einzige Vorteil: Er ist robust gegen AusreiÃer

19.0

In [48]:
df['Total Checkouts'].quantile(q=[0.25, 0.5, 0.75]) # Quantile = definiert einen bestimmten Teil einer Datenmenge,
#das heiÃt, ein Quantil legt fest, wie viele Werte einer Verteilung Ã¼ber oder unter einer bestimmten Grenze liegen. 
#Besondere Quantile sind das Quartil (Viertel), das Quintil (FÃ¼nftel) und das Percentil (Hundertstel).

0.25      2.0
0.50     19.0
0.75    113.0
Name: Total Checkouts, dtype: float64

In [49]:
# AusreiÃerentfernung
# identifies 0.5% of the data at both ends of the distribution 
alpha = 0.005
df['Total Checkouts'].quantile([alpha, 1-alpha])

0.005       0.00
0.995    2827.53
Name: Total Checkouts, dtype: float64

### 3.3 Exkurs: AusreiÃerentfernung I (30 Min)

##### Identifziere jeweils die 1.5% grÃ¶Ãten Werte in der Spalte Total Checkouts. Definiere diese Werte als AusreiÃer.     Erstelle einen Datensatz, fÃ¼r den diese AusreiÃer entfernt sind. Handelt es sich hierbei um eine gute Methode, AusreiÃer zu identifizieren und zu behandeln? Welche anderen Strategien kennst Du?

In [50]:
# identifies 1.5% of the data at the upper end of distribution
alpha = 0.015
outlier_frontier = df['Total Checkouts'].quantile([1-alpha])
outlier_frontier[1-alpha]

1757.0

In [51]:
df_outlier = df[df['Total Checkouts'] < outlier_frontier[1-alpha]] 
df_outlier['Total Checkouts'].max()

1756

### StreuungsmaÃe

#### Varianz

In [52]:
df['Total Checkouts'].var() # Varianz = Die Varianz ist ein StreuungsmaÃ, welches die Verteilung von Werten 
#um den Mittelwert kennzeichnet. Sie ist das Quadrat der Standardabweichung. 
#Berechnet wird die Varianz, indem die Summe der quadrierten Abweichungen 
#aller Messwerte vom arithmetischen Mittel durch die Anzahl der Messwerte dividiert wird. 
#Das Symbol der Varianz fÃ¼r eine Zufallsvariable ist âÏÂ²â, das fÃ¼r die empirische Varianz einer Stichprobe ist âsÂ²â.

205847.027758416

In [53]:
df['Total Checkouts'].std() # Standardabweichung = MaÃ fÃ¼r die Streubreite der Werte eines Merkmals rund um 
#dessen Mittelwert (arithmetisches Mittel). 
#Vereinfacht: die durchschnittliche Entfernung aller gemessenen AusprÃ¤gungen eines Merkmals vom Durchschnitt. 
# Wurzel aus der Varianz

453.7036783611259

##### 3.4 Varianz (15 Min)

#### Welche Variable streut mehr: 'Total Checkouts' oder 'Total Renewals'? Vergleiche die Standardabweichungen und den Variationskoeffizienten miteinander.

In [54]:
df['Total Renewals'].var()

50629.46272559851

In [55]:
df['Total Renewals'].std()

225.0099169494503

In [56]:
df['Total Checkouts'].var()

205847.027758416

In [57]:
df['Total Checkouts'].std()

453.7036783611259

In [58]:
df['Total Renewals'].std()/df['Total Renewals'].mean()

3.7717062851167245

In [59]:
df['Total Checkouts'].std()/df['Total Checkouts'].mean()

2.8009495298130904

####  Spannweite

In [60]:
df['Total Checkouts'].max() - df['Total Checkouts'].min() # Spannweite = Abstand zwischen dem grÃ¶Ãten und dem kleinsten 
#empirischen Messwert untersuchter numerischer Merkmale

35907

#### Interquartilsabstand

In [61]:
df['Total Checkouts'].quantile(q=0.75) - df['Total Checkouts'].quantile(q=0.25) # Interquartilsabstand = als robustes StreuungsmaÃ abgeleitet werden. Er ergibt sich aus der Differenz des 75%- zum 25%-Quantil

111.0

#### 3.5 Exkurs: AusreiÃerentfernung II (30 Min)
###### Identifiziere positive AusreiÃer in der Spalte Total Checkouts. AusreiÃer werden jetzt als Beobachtungen xi definiert, fÃ¼r die gilt:
###### xi>x0.75+1.5xIQR
###### Das heiÃt, eine Beobachtungen gilt als AusreiÃer, wenn sie grÃ¶Ãer als die Summe aus dem 75% Quantil und dem 1.5-fachen des Interquartilsabstands ist.
###### Wie viel Prozent der Beobachtungen im Datensatz werden mit dieser Methode als AusreiÃer markiert?

In [62]:
IQR = df['Total Checkouts'].quantile(q=0.75) - df['Total Checkouts'].quantile(q=0.25)
IQR

111.0

In [63]:
# Berechnung des Quantiles 
qt_75 = df['Total Checkouts'].quantile(q=0.75)
qt_75

113.0

In [64]:
outlier_frontier_2 = (qt_75 + 1.5 * IQR)
outlier_frontier_2

279.5

In [65]:
df_outlier_2 = df[df['Total Checkouts']< outlier_frontier_2]
df_outlier_2

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423440,2,YOUNG ADULT,42,53,10 to 19 years,M4,Merced,June,2014.0,p,phone,False,2011,True,NaN
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015.0,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0

In [71]:
df['Total Checkouts'].count()

423448

In [73]:
df_outlier_2['Total Checkouts'].count()

363702

In [75]:
percent_outlier_2 = (363702*100)/423448
percent_outlier_2

85.89059341406737